#set($inputRoot = $input.path('$'))
{
  "elections" : [
#foreach($elem in $inputRoot.Items)
 {
    "id" : "$elem.poll_id.S",
    "name" : "$elem.poll_name.S",
    "active": $elem.active.BOOL,
    "time": $elem.create_time.N,
    "secure":$elem.active.BOOL,
    "candidates": [
        #foreach($c in $elem.candidates.SS)
        "$c"#if($foreach.hasNext),#end
        #end
    ]
  }
#if($foreach.hasNext),#end
#end
]
}