#set($inputRoot = $input.path('$'))
{
#set($elem = $inputRoot.Items[0])
 
    "id" : "$elem.poll_id.S",
    "name" : "$elem.poll_name.S",
    "active": $elem.active.BOOL,
    "time": $elem.create_time.N,
    "secure":$elem.secure.BOOL,
    "candidates": [
        #foreach($c in $elem.candidates.SS)
        "$c"#if($foreach.hasNext),#end
        #end
    ]
}